.header { 
    background-color: black;
    height: 60px;
    min-width: 600px;
}

.logo { 
    height: 60px;
}

.title { 
    color: white;
    margin-left: 2vh;
    text-align: center;
    font-size: xx-large;
}
.header-left {
    display: flex;
    align-items: center;
}