.header { 
    background-color: black;
    height: 60px;
    min-width: 600px;
    display: flex;
}

.logo { 
    height: 60px;
}

.title { 
    color: white;
    margin-left: 2vh;
    text-align: center;
    font-size: xx-large;
}
.header-left {
    display: flex;
    align-items: center;
}

.nav-item { 
    color: white; 
    text-decoration: none;
    text-align: center;
}

.nav-list { 
    display: flex;
    margin-block: 0px;
    height: 60px;
    align-items: center;
}