/* CSS Color classes */
:root{ 
  --primary: #4D5628;
  --secondary: #850C0C;
  --tertiary: #DCCCA3;
  --background: #171717;
  --app-white: #f2f2f2;
  --button-grey-selected: #b3b3b3;
}

body { 
  font-family: 'Inter', sans-serif;
  margin: 0;
  background-color: var(--background); 
}

.app-container { 
  display: block;
}

.app-content{ 
  max-width: 1200px;
  background-color: var(--app-white);
  margin: auto;
}


/* placeholder until I format UI of page headers */
h1 {
  margin-block-start: 0px;
}