/* CSS Color classes */
:root{ 
  --primary: #4D5628;
  --secondary: #850C0C;
  --tertiary: #DCCCA3;
}

body { 
  font-family: 'Inter', sans-serif;
  margin: 0;
}

.app-container { 
  width: min(129.6rem, 100%);
  margin: 20px;
}