.standings-team-name { 
    display: flex;
    align-items: center;
    img { 
        height: 30px;
        width: 30px;
    }

}

.standings-data-cell {
    padding-left: 8px;
    padding-right: 8px;
}